

/***************************************

FONTS

******************************************/

@font-face {
  font-family: special;
  src: url('../../fonts/Hensa.ttf') format('truetype');
  font-style: normal;
}
$hensa: special;

//@font-face {
//  font-family: body;
//  src: url('../fonts/neuzeitgrotbla-webfont.ttf');
//  font-style: normal;
//  font-weight: normal;
//}
$neuz: "Neuzeit Grotesk", sans-serif;

//@font-face {
//  font-family: headlines;
//  src: url('../fonts/Merriweather-Bold.ttf');
//  font-style: normal;
//}
$merri: "merriweather", serif;



/***************************************

COLORS

******************************************/

$primary-color: #E6295E;

$secondary-color: rgba(76,193,252,0.5);